<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Blockchain Blog</title>
  <link rel="stylesheet" href="angular-material/angular-material.css">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  <script src="angular-animate/angular-animate.js"></script>
  <script src="angular-aria/angular-aria.js"></script>
  <script src="angular-material/angular-material.js"></script>
  <script src="angular-jwt/dist/angular-jwt.js"></script>
  <script src="angular-storage/dist/angular-storage.js"></script>
  <script src="auth0-angular/build/auth0-angular.js"></script>
  <script src="auth0-lock/build/auth0-lock.js"></script>
  <script src="auth0.js/build/auth0.js"></script>
  <script src="angular-lock/dist/angular-lock.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    .glyphicon-thumbs-up {
      cursor: pointer
    }
  </style>
</head>

<body data-ng-app="blockchainBlog">
  <md-toolbar data-ng-controller="toolbarController">
    <div class="md-toolbar-tools" data-ng-controller="profileController">
      <h2> <span> Blockchain Blog </span> </h2>
      <span flex></span>
      <md-button aria-label="Login" data-ng-click="toolbarController.login()" data-ng-if="toolbarController.auth.isAuthenticated()">Login</md-button>
      <md-button aria-label="Profile" ui-serf="profile" data-ng-if="toolbarController.auth.isAuthenticated()">Profile</md-button>
      <md-button aria-label="Logout" data-ng-click="toolbarController.logout()" data-ng-if="toolbarController.auth.isAuthenticated()">Logout</md-button>
    </div>
  </md-toolbar>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/login.html">
    <md-content>
      <h1> Welcome to the Angular Blockchain Blog! </h1>
      <h3> Login from the toolbar above to access  your profile.</h3>
    </md-content>
  </script>

  <script type="text/ng-template" id="/profile.html">
    <md-content class="md-padding" layout="column">
      <md-card>
        <md-card-title>
          <md-card-media>
            <div class="md-media-lg card-media" layout-padding>
              <img src="{{ user.profile.picture }}" alt="profile-picture">
            </div>
            <md-card-actions layout="column" layout-align="end center">
              <md-button data-ng-click="user.getMessage()">Get Message</md-button>
              <md-button data-ng-click="user.getSecretMessage()">Get Secret Message</md-button>
            </md-card-actions>
          </md-card-media>
          <md-card-title-text>
            <span class="md-headline">{{ user.profile.nickname }}</span>
            <span class="subhead">{{ user.profile.email }}</span>
            <h3>{{ user.message }}</h3>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </md-content>
  </script>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Blockchain Blog</h1>
    </div>
    <div data-ng-repeat="post in posts | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up" data-ng-click="incrementUpvotes(post)"></span> {{post.upvotes}}
      <span style="font-size:20px; margin-left:10px;">
              <a data-ng-show="post.link" href="{{post.link}}">
                {{post.title}}
              </a>
              <span data-ng-hide="post.link">
                {{post.title}}
              </span>
      </span>
      <span>
        <a href="#/posts/{{post._id}}">Comments</a>
      </span>
    </div>
    <form data-ng-submit="addPost()" style="margin-top:30px;">
      <h3>Add a new post</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" data-ng-model="title"></input>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Link" data-ng-model="link"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </script>

  <script type="text/ng-template" id="/posts.html">
    <div class="page-header">
      <h3>
      <a data-ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span data-ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
    </div>

    <div data-ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up" data-ng-click="incrementUpvotes(comment)"></span> {{comment.upvotes}} - by {{comment.author}}
      <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
    </div>
    <form data-ng-submit="addComment()" style="margin-top:30px;">
      <h3>Add a new comment</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" data-ng-model="body"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </script>
</body>

</html>
